GitProxyClient/src/wsdl/GitProxy.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.gitproxy.ubicropper.ubitech.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.gitproxy.ubicropper.ubitech.eu/" name="GitSOAPServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.gitproxy.ubicropper.ubitech.eu/" schemaLocation="http://127.0.0.1:9090/SoapContext/SoapPort?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getFilesOfCommit">
<part name="parameters" element="tns:getFilesOfCommit"></part>
</message>
<message name="getFilesOfCommitResponse">
<part name="parameters" element="tns:getFilesOfCommitResponse"></part>
</message>
<message name="echo">
<part name="parameters" element="tns:echo"></part>
</message>
<message name="echoResponse">
<part name="parameters" element="tns:echoResponse"></part>
</message>
<message name="getAllRevisions">
<part name="parameters" element="tns:getAllRevisions"></part>
</message>
<message name="getAllRevisionsResponse">
<part name="parameters" element="tns:getAllRevisionsResponse"></part>
</message>
<message name="getLatestRevision">
<part name="parameters" element="tns:getLatestRevision"></part>
</message>
<message name="getLatestRevisionResponse">
<part name="parameters" element="tns:getLatestRevisionResponse"></part>
</message>
<portType name="GitSOAPService">
<operation name="getFilesOfCommit">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getFilesOfCommitRequest" message="tns:getFilesOfCommit"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getFilesOfCommitResponse" message="tns:getFilesOfCommitResponse"></output>
</operation>
<operation name="echo">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/echoRequest" message="tns:echo"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/echoResponse" message="tns:echoResponse"></output>
</operation>
<operation name="getAllRevisions">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getAllRevisionsRequest" message="tns:getAllRevisions"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getAllRevisionsResponse" message="tns:getAllRevisionsResponse"></output>
</operation>
<operation name="getLatestRevision">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getLatestRevisionRequest" message="tns:getLatestRevision"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getLatestRevisionResponse" message="tns:getLatestRevisionResponse"></output>
</operation>
</portType>
<binding name="GitSOAPServicePortBinding" type="tns:GitSOAPService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getFilesOfCommit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="echo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllRevisions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLatestRevision">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="GitSOAPServiceService">
<port name="GitSOAPServicePort" binding="tns:GitSOAPServicePortBinding">
<soap:address location="http://127.0.0.1:9090/SoapContext/SoapPort"></soap:address>
</port>
</service>
</definitions>