GitProxyClient/src/wsdl/GitProxy.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.gitproxy.ubicropper.ubitech.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.gitproxy.ubicropper.ubitech.eu/" name="GitSOAPServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.gitproxy.ubicropper.ubitech.eu/" schemaLocation="http://127.0.0.1:9090/SoapContext/SoapPort?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getFilesOfCommit">
<part name="parameters" element="tns:getFilesOfCommit"></part>
</message>
<message name="getFilesOfCommitResponse">
<part name="parameters" element="tns:getFilesOfCommitResponse"></part>
</message>
<message name="getFilesBetweenTwoCommits">
<part name="parameters" element="tns:getFilesBetweenTwoCommits"></part>
</message>
<message name="getFilesBetweenTwoCommitsResponse">
<part name="parameters" element="tns:getFilesBetweenTwoCommitsResponse"></part>
</message>
<message name="echo">
<part name="parameters" element="tns:echo"></part>
</message>
<message name="echoResponse">
<part name="parameters" element="tns:echoResponse"></part>
</message>
<message name="saveImage">
<part name="parameters" element="tns:saveImage"></part>
</message>
<message name="saveImageResponse">
<part name="parameters" element="tns:saveImageResponse"></part>
</message>
<message name="getAllRevisions">
<part name="parameters" element="tns:getAllRevisions"></part>
</message>
<message name="getAllRevisionsResponse">
<part name="parameters" element="tns:getAllRevisionsResponse"></part>
</message>
<message name="getLatestRevision">
<part name="parameters" element="tns:getLatestRevision"></part>
</message>
<message name="getLatestRevisionResponse">
<part name="parameters" element="tns:getLatestRevisionResponse"></part>
</message>
<message name="saveImageToCERIFBook">
<part name="parameters" element="tns:saveImageToCERIFBook"></part>
</message>
<message name="saveImageToCERIFBookResponse">
<part name="parameters" element="tns:saveImageToCERIFBookResponse"></part>
</message>
<message name="deleteImage">
<part name="parameters" element="tns:deleteImage"></part>
</message>
<message name="deleteImageResponse">
<part name="parameters" element="tns:deleteImageResponse"></part>
</message>
<message name="manageTmpFolder">
<part name="parameters" element="tns:manageTmpFolder"></part>
</message>
<message name="manageTmpFolderResponse">
<part name="parameters" element="tns:manageTmpFolderResponse"></part>
</message>
<message name="getImage">
<part name="parameters" element="tns:getImage"></part>
</message>
<message name="getImageResponse">
<part name="parameters" element="tns:getImageResponse"></part>
</message>
<message name="initializeSIF4Province">
<part name="parameters" element="tns:initializeSIF4Province"></part>
</message>
<message name="initializeSIF4ProvinceResponse">
<part name="parameters" element="tns:initializeSIF4ProvinceResponse"></part>
</message>
<portType name="GitSOAPService">
<operation name="getFilesOfCommit">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getFilesOfCommitRequest" message="tns:getFilesOfCommit"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getFilesOfCommitResponse" message="tns:getFilesOfCommitResponse"></output>
</operation>
<operation name="getFilesBetweenTwoCommits">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getFilesBetweenTwoCommitsRequest" message="tns:getFilesBetweenTwoCommits"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getFilesBetweenTwoCommitsResponse" message="tns:getFilesBetweenTwoCommitsResponse"></output>
</operation>
<operation name="echo">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/echoRequest" message="tns:echo"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/echoResponse" message="tns:echoResponse"></output>
</operation>
<operation name="saveImage">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/saveImageRequest" message="tns:saveImage"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/saveImageResponse" message="tns:saveImageResponse"></output>
</operation>
<operation name="getAllRevisions">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getAllRevisionsRequest" message="tns:getAllRevisions"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getAllRevisionsResponse" message="tns:getAllRevisionsResponse"></output>
</operation>
<operation name="getLatestRevision">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getLatestRevisionRequest" message="tns:getLatestRevision"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getLatestRevisionResponse" message="tns:getLatestRevisionResponse"></output>
</operation>
<operation name="saveImageToCERIFBook">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/saveImageToCERIFBookRequest" message="tns:saveImageToCERIFBook"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/saveImageToCERIFBookResponse" message="tns:saveImageToCERIFBookResponse"></output>
</operation>
<operation name="deleteImage">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/deleteImageRequest" message="tns:deleteImage"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/deleteImageResponse" message="tns:deleteImageResponse"></output>
</operation>
<operation name="manageTmpFolder">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/manageTmpFolderRequest" message="tns:manageTmpFolder"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/manageTmpFolderResponse" message="tns:manageTmpFolderResponse"></output>
</operation>
<operation name="getImage">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getImageRequest" message="tns:getImage"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getImageResponse" message="tns:getImageResponse"></output>
</operation>
<operation name="initializeSIF4Province">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/initializeSIF4ProvinceRequest" message="tns:initializeSIF4Province"></input>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/initializeSIF4ProvinceResponse" message="tns:initializeSIF4ProvinceResponse"></output>
</operation>
</portType>
<binding name="GitSOAPServicePortBinding" type="tns:GitSOAPService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getFilesOfCommit">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getFilesBetweenTwoCommits">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="echo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="saveImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getAllRevisions">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLatestRevision">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="saveImageToCERIFBook">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="deleteImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="manageTmpFolder">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getImage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="initializeSIF4Province">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="GitSOAPServiceService">
<port name="GitSOAPServicePort" binding="tns:GitSOAPServicePortBinding">
<soap:address location="http://127.0.0.1:9090/SoapContext/SoapPort"></soap:address>
</port>
</service>
</definitions>