GitProxyClient/src/wsdl/GitProxy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.gitproxy.ubicropper.ubitech.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.gitproxy.ubicropper.ubitech.eu/" name="GitSOAPServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.gitproxy.ubicropper.ubitech.eu/" schemaLocation="http://127.0.0.1:9090/SoapContext/SoapPort?xsd=1"/>
</xsd:schema>
</types>
<message name="getFilesOfCommit">
<part name="parameters" element="tns:getFilesOfCommit"/>
</message>
<message name="getFilesOfCommitResponse">
<part name="parameters" element="tns:getFilesOfCommitResponse"/>
</message>
<message name="getFilesBetweenTwoCommits">
<part name="parameters" element="tns:getFilesBetweenTwoCommits"/>
</message>
<message name="getFilesBetweenTwoCommitsResponse">
<part name="parameters" element="tns:getFilesBetweenTwoCommitsResponse"/>
</message>
<message name="echo">
<part name="parameters" element="tns:echo"/>
</message>
<message name="echoResponse">
<part name="parameters" element="tns:echoResponse"/>
</message>
<message name="getAllRevisions">
<part name="parameters" element="tns:getAllRevisions"/>
</message>
<message name="getAllRevisionsResponse">
<part name="parameters" element="tns:getAllRevisionsResponse"/>
</message>
<message name="getLatestRevision">
<part name="parameters" element="tns:getLatestRevision"/>
</message>
<message name="getLatestRevisionResponse">
<part name="parameters" element="tns:getLatestRevisionResponse"/>
</message>
<portType name="GitSOAPService">
<operation name="getFilesOfCommit">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getFilesOfCommitRequest" message="tns:getFilesOfCommit"/>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getFilesOfCommitResponse" message="tns:getFilesOfCommitResponse"/>
</operation>
<operation name="getFilesBetweenTwoCommits">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getFilesBetweenTwoCommitsRequest" message="tns:getFilesBetweenTwoCommits"/>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getFilesBetweenTwoCommitsResponse" message="tns:getFilesBetweenTwoCommitsResponse"/>
</operation>
<operation name="echo">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/echoRequest" message="tns:echo"/>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/echoResponse" message="tns:echoResponse"/>
</operation>
<operation name="getAllRevisions">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getAllRevisionsRequest" message="tns:getAllRevisions"/>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getAllRevisionsResponse" message="tns:getAllRevisionsResponse"/>
</operation>
<operation name="getLatestRevision">
<input wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getLatestRevisionRequest" message="tns:getLatestRevision"/>
<output wsam:Action="http://services.gitproxy.ubicropper.ubitech.eu/GitSOAPService/getLatestRevisionResponse" message="tns:getLatestRevisionResponse"/>
</operation>
</portType>
<binding name="GitSOAPServicePortBinding" type="tns:GitSOAPService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFilesOfCommit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFilesBetweenTwoCommits">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="echo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllRevisions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLatestRevision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GitSOAPServiceService">
<port name="GitSOAPServicePort" binding="tns:GitSOAPServicePortBinding">
<soap:address location="http://127.0.0.1:9090/SoapContext/SoapPort"/>
</port>
</service>
</definitions>